body
{
    font-family: "Rajdhani", "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-size: 3vh;
    background-color: #222;
    color: #EEE;
}

div
{
    margin: 3vw;
}

a {
    text-decoration: none;
    color: #CCC;
}

    a:link {
        /* text-decoration: none; */
        background-color: #444;
        border-radius: 0.5vw;
        padding-top: 0.2vw;
        padding-bottom: 0.2vw;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
    }
    a:hover {
        /* text-decoration: none; */
        background-color: #222;
    }

img
{
    width: 60vw;
    height: auto;
}

#page
{
    margin: auto;
    width: 60vw;
    text-align: center;
}

#toptitle
{
    font-size: 9.44vw;
    font-weight: 600;
}

.content
{
    /* border: 3px solid #555; */
    background-color: #333;
    padding: 3vw;
    border-radius: 3vw;
    line-height: 5vh;
}

.serif
{
    font-family: "Playfair Display", "Noto Serif TC", serif;
}

.chinese 
{
    margin: 0vw;
    margin-top: -1.5vw;
    font-family: "M PLUS 1 Code", "Noto Sans TC", sans-serif;
    font-size: 2vh;
}

.facebook
{
    background-color: #001c3f;
}

.copyright 
{
    font-size: 1vh;
}